
*.dll
*.xml
*.cache
*.cs
*.config
*.csproj
*.user
*.exe
*.rsp
*.targets
*.pdb
*.CopyComplete
*.txt
.vs/YouTube_SearchEngine/v15/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.props
*.xdt
*.nupkg
*.ps1
*.rtf
*.sln
